name: Push - AWS JIT
on:
  workflow_dispatch:
  push:
    - '.github/workflows/push-aws-jit.yml'
jobs:
  deploy:
    # This example get AWS credentials, then lists all S3 buckets.
    name: Deploy with DuploCloud
    runs-on: ubuntu-latest
    steps:
      - name: aws-jit
        uses: duplocloud/ghactions-aws-jit@master
        with:
          duplo_host: https://test19.duplocloud.net
          duplo_token: ${{ secrets.DUPLO_TOKEN }}
          tenant: default
      - name: list-s3
        run: aws s3 ls