name: Push
on:
  workflow_dispatch:
  push:
jobs:
  deploy:
    # This example get AWS credentials, then lists all S3 buckets.
    name: Deploy with DuploCloud
    runs-on: ubuntu-latest
    steps:
      - name: aws-jit
        uses: duplocloud/ghactions-aws-jit@develop
        with:
          duplo_host: https://test19.duplocloud.net
          duplo_token: FAKE_TOKEN_FOR_TESTING
          tenant: default
      - name: list-s3
        run: aws s3 ls