name: Push - Service Update
on:
  push:
    paths:
      - '.github/workflows/push-service-update.yml'
jobs:
  deploy:
    name: Update EKS service
    runs-on: ubuntu-latest
    steps:
      - name: service-update
        uses: duplocloud/ghactions-service-update@master
        with:
          duplo_host: https://test19.duplocloud.net
          duplo_token: ${{ secrets.DUPLO_TOKEN }}
          tenant: EKS-TENANT
          services: |-
            [
              { "Name": "tf-eksnlb1", "Image": "nginx:1.25.1" }
            ]
  deploy-ecs:
    name: Update ECS service
    runs-on: ubuntu-latest
    steps:
      - name: service-update
        uses: duplocloud/ghactions-service-update@master
        with:
          duplo_host: https://test19.duplocloud.net
          duplo_token: ${{ secrets.DUPLO_TOKEN }}
          tenant: EKS-TENANT
          ecs_services: |-
            [
              { "Name": "ecs01", "Image": "nginx:1.25.1" }
            ]
